.root {
    -fx-background-color: #141414;
}

.menu-bar,
        .menu {
    -fx-background-color: #141414;
}

.context-menu {
    -fx-background-color: #141414;
}

.menu .label {
    -fx-text-fill: #e6e6e6;
}

.context-menu .accelerator-text {
    -fx-text-fill: #b3b3b3;
}

.menu-item {
    -fx-background-color: #141414;
}

.menu:hover,
        .menu-item:hover {
    -fx-background-color: #343434;
}

.tab-header-area {
    -fx-padding: 16px 5px 10px 5px;
}

.tab-header-background {
    -fx-background-radius: 20px 20px 0 0;
    -fx-background-color: #242424;
    -fx-border-insets: 6px 0 0 0;
    -fx-background-insets: 6px 0 0 0;
}

.tab {
    -fx-padding: 2.5px 20px;
    -fx-border-insets: 0 5px;
    -fx-background-insets: 0 5px;
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:hover {
    -fx-background-color: #343434;
}

.tab:selected {
    -fx-text-fill: #141414;
    -fx-background-color: #994ce0;
}

.tab-label {
    -fx-text-fill: #e6e6e6;
}

.tab:selected .tab-label {
    -fx-text-fill: #141414;
}

.tab-content-area {
    -fx-background-color: #242424;
}

#statusbar {
    -fx-padding: 4px;
    -fx-background-color: #242424;
}

#statusbar .label {
    -fx-text-fill: #e6e6e6;
}

.hbox {
    -fx-background-color: #ff0000;
}

.vbox {
    -fx-background-color: #ff00ff;
}

