.root {
    -fx-background-color: #141414; /* SeaGreen */
}

.menu-bar,
        .menu {
    -fx-background-color: #141414;
}

.menu-item {
    -fx-background-color: #141414;
}

.menu:hover,
        .menu-item:hover {
    -fx-background-color: #ff0000;
}

.tab-header-background {
    -fx-background-radius: 20px 20px 0 0;
    -fx-background-color: #242424;
}

.tab {
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
    -fx-focus-color: transparent; /* Remove focus outline */
    -fx-faint-focus-color: transparent; /* Remove faint focus outline */
}

.tab:selected {
    -fx-background-color: #ff0000;
}

.tab-label {
    -fx-text-fill: white;
}


